In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./dados/empresas_IA.csv', sep=",", encoding = 'utf-8-sig')

In [3]:
#Verificando os dados
df.head()

,Nome da empresa,Website,Localização,Tamanho minimo do projeto,Pagamento médio por hora,Numero de empregados,Porcentagem de serviços relacionados a IA,Unnamed: 7
0,Smith.ai,https://smith.ai/,"Los Altos, CA",Undisclosed,Undisclosed,250 - 999,10%,NaN
1,MooveIt,https://moove-it.com/,"Austin, TX","$100,000+",$50 - $99 / hr,50 - 249,15%,NaN
2,TechSpeedInc,http://www.techspeed.com/,"Portland, OR","$1,000+",< $25 / hr,50 - 249,40%,NaN
3,WillDom,https://willdom.com/,"Fort Lauderdale, FL","$10,000+",$50 - $99 / hr,250 - 999,10%,NaN
4,Icreon,https://www.icreon.com/en,"New York, NY","$50,000+",$100 - $149 / hr,250 - 999,10%,NaN

In [4]:
#Verificando os tipos dos dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3100 entries, 0 to 3099
Data columns (total 8 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Nome da empresa                            3100 non-null   object
 1   Website                                    3099 non-null   object
 2   Localização                                3087 non-null   object
 3   Tamanho minimo do projeto                  3100 non-null   object
 4   Pagamento médio por hora                   3100 non-null   object
 5   Numero de empregados                       3100 non-null   object
 6   Porcentagem de serviços relacionados a IA  3100 non-null   object
 7   Unnamed: 7                                 1 non-null      object
dtypes: object(8)
memory usage: 193.9+ KB

In [5]:
#verificando a quantidade de valor null no dataframe
df.isnull().sum()

Nome da empresa                                 0
Website                                         1
Localização                                    13
Tamanho minimo do projeto                       0
Pagamento médio por hora                        0
Numero de empregados                            0
Porcentagem de serviços relacionados a IA       0
Unnamed: 7                                   3099
dtype: int64

In [6]:
#Normalizado o cabeçalho para snake case
df = df.rename(columns={'Nome da empresa' : 'nome_empresa',
                        'Website' : 'website',
                        'Localização' : 'localizacao',
                        'Tamanho minimo do projeto' : 'tamanho_minimo_projeto',
                        'Pagamento médio por hora' : 'pagamento_medio_hora',
                        'Numero de empregados' : 'numero_emprego',
                        'Porcentagem de serviços relacionados a IA' : 'porcentagem_servico_ia'                     
                       })

In [7]:
#removendo a coluna 'Unnamed: 7', pois não tem valor para ser analisado
df = df.drop(columns=['Unnamed: 7'])

In [8]:
#removendo as linhas com valores null, pois a quantidade é pequena e não vale a pena realizar algum tipo de transformação
df = df.dropna(axis = 0)

In [9]:
#removendo os caracteres
def remove_caracteres (DataFrame, colunas, simbolos):
    for i in colunas:
        DataFrame[i] = DataFrame[i].str.replace(simbolos, '', regex=True)

remove_caracteres(df, ['tamanho_minimo_projeto', 'pagamento_medio_hora', 'numero_emprego', 'porcentagem_servico_ia'], '$')
remove_caracteres(df, ['tamanho_minimo_projeto', 'pagamento_medio_hora', 'numero_emprego', 'porcentagem_servico_ia'], '+')
remove_caracteres(df, ['tamanho_minimo_projeto', 'pagamento_medio_hora', 'numero_emprego', 'porcentagem_servico_ia'], '/ hr')
remove_caracteres(df, ['tamanho_minimo_projeto', 'pagamento_medio_hora', 'numero_emprego', 'porcentagem_servico_ia'], '<')
remove_caracteres(df, ['tamanho_minimo_projeto', 'pagamento_medio_hora', 'numero_emprego', 'porcentagem_servico_ia'], '%')

In [10]:
#transforma a coluna 'porcentagem_servico_ia' do tipo str para int
df['porcentagem_servico_ia'] = df['porcentagem_servico_ia'].astype('int')

In [11]:
#Tipo dos dados após as limpezas
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3086 entries, 0 to 3099
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   nome_empresa            3086 non-null   object
 1   website                 3086 non-null   object
 2   localizacao             3086 non-null   object
 3   tamanho_minimo_projeto  3086 non-null   object
 4   pagamento_medio_hora    3086 non-null   object
 5   numero_emprego          3086 non-null   object
 6   porcentagem_servico_ia  3086 non-null   int32
dtypes: int32(1), object(6)
memory usage: 180.8+ KB

In [12]:
#Dataframe final
df.head()

,nome_empresa,website,localizacao,tamanho_minimo_projeto,pagamento_medio_hora,numero_emprego,porcentagem_servico_ia
0,Smith.ai,https://smith.ai/,"Los Altos, CA",Undisclosed,Undisclosed,250 - 999,10
1,MooveIt,https://moove-it.com/,"Austin, TX","100,000",50 - 99,50 - 249,15
2,TechSpeedInc,http://www.techspeed.com/,"Portland, OR","1,000",25,50 - 249,40
3,WillDom,https://willdom.com/,"Fort Lauderdale, FL","10,000",50 - 99,250 - 999,10
4,Icreon,https://www.icreon.com/en,"New York, NY","50,000",100 - 149,250 - 999,10